<style>

.footer {
  background-image: url(https://cdu-data-science-team.github.io/assets//logo/Notts%20HC%20landscape%20FINAL%20300dpi.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 80%;
  width: 90%;
  height: 80%;
  z-index: 0;

}

</style>

<script>
document
  .querySelectorAll(
    '.remark-slide-content' +
    //':not(.title-slide)' +
    // add additional classes to exclude here, e.g.
    ':not(.inverse)' +
    ':not(.inverse-white)' +
    ':not(.hide-logo)'
  )
  .forEach(el => {
    el.innerHTML += '<div class="footer"></div>';
  });
</script>
